---
- name: "Préparer le répertoire temporaire pour upgrade"
  ansible.windows.win_file:
    path: "{{ vlc_temp_dir }}"
    state: directory

- name: "Décompresser le ZIP VLC pour upgrade"
  ansible.windows.win_unzip:
    src: "{{ role_path }}\\files\\{{ vlc_zip }}"
    dest: "{{ vlc_temp_dir }}"
    delete_archive: no

- name: "Upgrade VLC vers {{ vlc_version }}"
  ansible.windows.win_package:
    path: "{{ vlc_temp_dir }}\\{{ vlc_installer }}"
    arguments: "/S"
    state: present          # 'present' suffit, il installera/upgrade si besoin
    log_path: "{{ vlc_log_file }}"
  register: upgrade_out

- set_fact:
    package_status: "upgraded"
    package_message: "VLC mis à jour depuis version {{ detect_result.version }}"
    reboot_required: "{{ upgrade_out.reboot_required | default(false) }}"

