---
- name: "Préparer le répertoire temporaire pour upgrade"
  ansible.windows.win_file:
    path: "{{ vlc_temp_dir }}"
    state: directory

- name: "Copier le ZIP VLC sur la cible (upgrade)"
  ansible.windows.win_copy:
    src: "{{ vlc_zip }}"
    dest: "{{ vlc_temp_dir }}\\{{ vlc_zip }}"

- name: "Dézipper le package VLC pour upgrade"
  ansible.windows.win_shell: >
    PowerShell -NoProfile -NonInteractive -Command
    "Expand-Archive -LiteralPath '{{ vlc_temp_dir }}\\{{ vlc_zip }}' -DestinationPath '{{ vlc_temp_dir }}' -Force"
  args:
    creates: "{{ vlc_temp_dir }}\\{{ vlc_installer }}"

- name: "Upgrade VLC vers {{ vlc_version }}"
  ansible.windows.win_package:
    path: "{{ vlc_temp_dir }}\\{{ vlc_installer }}"
    arguments: "/S"
    state: present      # 'present' suffit, il fera install/upgrade
    log_path: "{{ vlc_log_file }}"
  register: upgrade_out

- set_fact:
    package_status: "upgraded"
    package_message: "VLC mis à jour depuis version {{ detect_result.version }}"
    reboot_required: "{{ upgrade_out.reboot_required | default(false) }}"

