---
# Silent upgrade of package

- name: "Prepare temporary directory for upgrade"
  ansible.windows.win_file:
    path: "{{ package_temp_dir }}"
    state: directory

- name: "Copy {{ package_name }} ZIP to target (upgrade)"
  ansible.windows.win_copy:
    src: "{{ package_zip }}"
    dest: "{{ package_temp_dir }}\\{{ package_zip }}"

- name: "Extract {{ package_name }} package for upgrade"
  ansible.windows.win_shell: >
    PowerShell -NoProfile -NonInteractive -Command
    "Expand-Archive -LiteralPath '{{ package_temp_dir }}\\{{ package_zip }}' -DestinationPath '{{ package_temp_dir }}' -Force"
  args:
    creates: "{{ package_temp_dir }}\\{{ package_installer }}"

- name: "Upgrade {{ package_name }} to {{ package_version }}"
  ansible.windows.win_package:
    path: "{{ package_temp_dir }}\\{{ package_installer }}"
    arguments: "/S"
    state: present
    log_path: "{{ package_log_file }}"
  register: upgrade_out

- set_fact:
    package_status: "upgraded"
    package_message: "{{ package_name }} upgraded from {{ detect_result.version }} to {{ package_version }}"
    reboot_required: "{{ upgrade_out.reboot_required | default(false) }}"
